---
# Main Sass!
---
@charset "utf-8";

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400|Lato:400,300);

// Our variables
$fontFamily-base:       "Lato", Helvetica, Arial, sans-serif;
$fontFamily-heading:    "Noto Sans", Helvetica, Arial, sans-serif;
$fontSize-base:         24px;
$font_size: $fontSize-base; // For Bourbon
$fontWeight-base:       400;
$lineHeight-base:       1;

$mobileFontSize: 0.68;

$fontFamily--intro:     $fontFamily-base;
$fontSize--intro:       42px;
$fontWeight--intro:     300;

$fontFamily--ui:        $fontFamily-base;
$fontSize--ui:          24px;
$fontWeight--ui:        400;

$fontFamily--dropdown:  $fontFamily-heading;
$fontSize--dropdown:    18px;
$lineHeight--dropdown:  1.5;
$fontWeight--dropdown:  400;

$fontFamily--button:    $fontFamily-heading;
$fontSize--button:      18px;
$fontWeight--button:    400;

$fontFamily--form:      $fontFamily-heading;
$fontSize--form:        18px;
$fontWeight--form:      400;


$color-text:    #4F4C4F;
$color-bg:      #F4F4F4;
$color-blue:    #14AAE2;
$color-green:   #7AC442;
$color-red:     #E8212D;
$color-orange:  #EF7F21;
$color-magenta: #F272AA;
$color-gray:    #BABFBF;
$color-white:   #FFFFFF;
$color-whiteish: #F6F4F4;

$baseTransition: all 0.4s ease-out;
$colorTransition: all 0.667s linear;
$colorTransitionDelay: 0.8s;
$distractionsTransitionDelay: 0.4s;


// animation settings
$facebook-offset : 0.33;
$app-offset: 0.33;
$tab-offset: 0.25;




// ------
// Imports

// lib
@import "lib/bourbon/bourbon";
@import "lib/neat/neat";
@import "base/base";

// Global Styles
@import "global/reset";

// Modules
@import "modules/global";
@import "modules/intro";
