---
# Main Sass!
---
@charset "utf-8";

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:700,400|Lato:600,400,300,100);

// Our variables
$fontFamily-base:       "Lato", Helvetica, Arial, sans-serif;
$fontFamily-heading:    "Noto Sans", Helvetica, Arial, sans-serif;
$fontSize-base:         24px;
$font_size: $fontSize-base; // For Bourbon
$fontWeight-base:       400;
$lineHeight-base:       1;
$site-width:            880px;

$mobileFontSize: 0.87;
$mobileFontSize--header: 0.68;

$fontFamily--intro:               $fontFamily-base;
$fontSize--intro:                 42px;

$fontFamily--button:                $fontFamily-base;
$fontSize--button:                  18px;
$fontWeight--button:                400;

$fontFamily--instructions:        $fontFamily-base;
$fontSize--instructions:          40px;
$fontWeight--instructions:        300;

$fontFamily--instructions--title:        $fontFamily-base;
$fontSize--instructions--title:          23px;
$fontWeight--instructions--title:        300;

$fontFamily--instructions--content:        $fontFamily-base;
$fontSize--instructions--content:          16px;
$fontWeight--instructions--content:        300;

$fontFamily--problems:        $fontFamily-base;
$fontSize--problems:          42px;
$fontWeight--problems:        300;

$fontFamily--problems--content:        $fontFamily-base;
$fontSize--problems--content:          16px;
$fontWeight--problems--content:        400;

$fontFamily--dropdown:  $fontFamily-heading;
$fontSize--dropdown:    18px;
$lineHeight--dropdown:  1.5;
$fontWeight--dropdown:  400;

$fontFamily--caption:    $fontFamily-base;
$fontSize--caption:      16px;
$fontWeight--caption:    300;

$fontFamily--form:      $fontFamily-heading;
$fontSize--form:        18px;
$fontWeight--form:      400;


$color-text:    #4F4C4F;
$color-bg:      #F4F4F4;
$color-black:   #000000;
$color-blue:    #14AAE2;
$color-blue--muted: #D0E5ED;
$color-green:   #7AC442;
$color-red:     #E8212D;
$color-orange:  #EF7F21;
$color-magenta: #F272AA;
$color-gray:    #BABFBF;
$color-white:   #FFFFFF;
$color-whiteish: #F6F4F4;

$baseTransition: all 0.4s ease-out;
$colorTransition: all 0.667s linear;
$colorTransitionDelay: 0.8s;
$distractionsTransitionDelay: 0.4s;


// animation settings
$facebook-offset : 0.33;
$app-offset: 0.33;
$tab-offset: 0.25;




// ------
// Imports

// lib
@import "lib/bourbon/bourbon";
@import "lib/neat/neat";
@import "base/base";

// Global Styles
@import "global/reset";

// Modules
@import "modules/global";
@import "modules/intro";
@import "modules/instructions";
@import "modules/problems";
@import "modules/download";
