.breaks-mobile-st0 {
  fill:$color-green;
  stroke:$color-white;
  stroke-width:0.5;
  stroke-miterlimit:10;
}

.breaks-mobile-st1 {
  opacity:0.97;
}

.breaks-mobile-st2 {
  fill:$color-whiteish;
}

.breaks-alert-st0 {
  fill:none;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.breaks-alert-st1 {
  fill:#FFF;
  stroke:none;
  stroke-width:0.9903;
  stroke-miterlimit:10;
}

.breaks-alert-st2{
  fill:$color-white;
}

.breaks-alert-st3{
  fill:$color-magenta;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.breaks-alert-st4{
  opacity:0.97;
}

.breaks-alert-st5{
  fill:#F2F0F0;
}

.breaks-alert-st6{
  fill:none;
  stroke:#F2F0F0;
  stroke-miterlimit:10;
}

.breaks-alert-st7{
  fill:$color-green;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.breaks-alert-st8{
  fill:$color-whiteish;
}

.breaks-alert-st9{
  fill:$color-red;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.breaks-alert-st10 {
  opacity:0.85;
  fill:#F9F7F7;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.breaks-alert-st11 {
  fill:#504D50;
}

.breaks-alert-st12 {
  fill:$color-text;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.breaks-alert-st13 {
  fill:#7AC743;
}

.breaks-alert-st14 {
  fill:#EA4130;
}

.breaks-alert-st15 {
  fill:none;
  stroke:$color-text;
  stroke-linecap:square;
  stroke-linejoin:bevel;
  stroke-miterlimit:10;
}

.breaks-alert-st16 {
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:none;
  stroke:#14ABE1;
  stroke-width:3;
  stroke-linecap:round;
  stroke-miterlimit:10;
}

.breaks-alert-st17 {
  opacity:0;
}

.breaks-alert-st18 {
  fill:#FF1D25;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.breaks-alert-st19 {
  clip-path:url(#SVGID_4_);
}

.breaks-alert-st20 {
  fill:#7AC743;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.breaks-alert-st21 {
  fill:url(#);
}

.breaks-alert-st22 {
  fill:#7AC743;
  stroke:$color-white;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

.breaks-alert-st23 {
  fill:#7AC743;
  stroke:$color-white;
  stroke-width:0.9071;
  stroke-miterlimit:10;
}

.breaks-alert-st24 {
  fill:none;
  stroke:$color-white;
  stroke-linecap:round;
  stroke-linejoin:round;
}

.breaks-alert-st25 {
  fill:#7AC743;
  stroke:$color-white;
  stroke-linecap:round;
  stroke-linejoin:round;
}
