.categorizing-mobile-st0 {
  fill: #FFF;
  stroke: none;
}

.categorizing-mobile-st2 {
  fill:none;
  stroke:#F2F0F0;
  stroke-width:0.5;
  stroke-linejoin:bevel;
  stroke-miterlimit:10;
}




.categorizing-st0 {
  fill:$color-white;
  stroke:none;
  stroke-miterlimit:10;
}

.categorizing-st1 {
  // opacity:0.97;
  stroke: #FFF;
  fill: rgba(0,0,0,0);
}

.categorizing-st2 {
  fill:$color-white;
  stroke:none;
}

.categorizing-st3 {
  fill:$color-green;
  stroke:none;
  stroke-miterlimit:10;
}

.categorizing-st4 {
  fill:#F9F7F7;
  stroke:$color-white;
  stroke-miterlimit:10;
  enable-background:new;
}

.categorizing-st5 {
  fill:none;
  stroke:$color-whiteish;
}

.categorizing-st6 {
  fill:$color-text;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.categorizing-st9 {
  fill:none;
  stroke:#F2F0F0;
  stroke-miterlimit:10;
}

.categorizing-st10 {
  fill:none;
  stroke:$color-white;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}
