.challenges-mobile-st0 {
  fill:$color-magenta;
  stroke:$color-white;
  stroke-width:0.2895;
  stroke-miterlimit:10;
}

.challenges-mobile-st1 {
  opacity:0.97;
}

.challenges-mobile-st2 {
  fill:#F2F0F0;
}

.challenges-mobile-st3 {
  fill:none;
  stroke:#F2F0F0;
  stroke-width:0.5;
  stroke-miterlimit:10;
}

.challenges-alert-st0 {
  fill:none;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.challenges-alert-st1 {
  fill:none;
  stroke:#504D50;
  stroke-width:0.9903;
  stroke-miterlimit:10;
}

.challenges-alert-st2 {
  fill:$color-white;
}

.challenges-alert-st3 {
  fill:$color-magenta;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.challenges-alert-st4 {
  opacity:0.97;
}

.challenges-alert-st5 {
  fill:#F2F0F0;
}

.challenges-alert-st6 {
  fill:none;
  stroke:#F2F0F0;
  stroke-miterlimit:10;
}

.challenges-alert-st7 {
  fill:$color-green;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.challenges-alert-st8 {
  fill:$color-whiteish;
}

.challenges-alert-st9 {
  fill:$color-red;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.challenges-alert-st10 {
  opacity:0.85;
  fill:#F9F7F7;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.challenges-alert-st11 {
  fill:#504D50;
}

.challenges-alert-st12 {
  fill:$color-text;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.challenges-alert-st13 {
  fill:#7AC743;
}

.challenges-alert-st14 {
  fill:#EA4130;
}

.challenges-alert-st15 {
  fill:none;
  stroke:$color-text;
  stroke-linecap:square;
  stroke-linejoin:bevel;
  stroke-miterlimit:10;
}

.challenges-alert-st16 {
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:none;
  stroke:#14ABE1;
  stroke-width:3;
  stroke-linecap:round;
  stroke-miterlimit:10;
}

.challenges-alert-st17 {
  opacity:0;
}

.challenges-alert-st18 {
  fill:#FF1D25;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.challenges-alert-st19 {
  clip-path:url(#SVGID_4_);
}

.challenges-alert-st20 {
  fill:#7AC743;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.challenges-alert-st21 {
  fill:url(#);
}

.challenges-alert-st22 {
  fill:#7AC743;
  stroke:$color-white;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

.challenges-alert-st23 {
  fill:#7AC743;
  stroke:$color-white;
  stroke-width:0.9071;
  stroke-miterlimit:10;
}

.challenges-alert-st24 {
  fill:none;
  stroke:$color-white;
  stroke-linecap:round;
  stroke-linejoin:round;
}

.challenges-alert-st25 {
  fill:#7AC743;
  stroke:$color-white;
  stroke-linecap:round;
  stroke-linejoin:round;
}
