.browser-st0 {
  fill:none;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.browser-st1 {
  fill:none;
  stroke:#504D50;
  stroke-width:0.9903;
  stroke-miterlimit:10;
}

.browser-st2 {
  fill:$color-white;
}

.browser-st3 {
  fill:$color-magenta;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.browser-st4 {
  opacity:0.97;
}

.browser-st5 {
  fill:#F2F0F0;
}

.browser-st6 {
  fill:none;
  stroke:#F2F0F0;
  stroke-miterlimit:10;
}

.browser-st7 {
  fill:$color-green;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.browser-st8 {
  fill:$color-whiteish;
}

.browser-st9 {
  fill:$color-red;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.browser-st10 {
  opacity:0.85;
  fill:#F9F7F7;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.browser-st11 {
  fill:#504D50;
}

.browser-st12 {
  fill:$color-text;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.browser-st13 {
  fill:#7AC743;
}

.browser-st14 {
  fill:#EA4130;
}

.browser-st15 {
  fill:none;
  stroke:$color-text;
  stroke-linecap:square;
  stroke-linejoin:bevel;
  stroke-miterlimit:10;
}

.browser-st16 {
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:none;
  stroke:#14ABE1;
  stroke-width:3;
  stroke-linecap:round;
  stroke-miterlimit:10;
}

.browser-st17 {
  opacity:0;
}

.browser-st18 {
  fill:#FF1D25;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.browser-st19 {
  clip-path:url(#SVGID_4_);
}

.browser-st20 {
  fill:#7AC743;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.browser-st21 {
  fill:url(#);
}

.browser-st22 {
  fill:#7AC743;
  stroke:$color-white;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

.browser-st23 {
  fill:#7AC743;
  stroke:$color-white;
  stroke-width:0.9071;
  stroke-miterlimit:10;
}

.browser-st24 {
  fill:none;
  stroke:$color-white;
  stroke-linecap:round;
  stroke-linejoin:round;
}

.browser-st25 {
  fill:#7AC743;
  stroke:$color-white;
  stroke-linecap:round;
  stroke-linejoin:round;
}
