.download-st0 {
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:none;
  stroke:#14ABE1;
  stroke-width:3;
  stroke-linecap:round;
  stroke-miterlimit:10;
}

.download-st1 {
  opacity:0;
}

.download-st2 {
  stroke:#504D50;
  stroke-width:0.9903;
  stroke-miterlimit:10;
}
