.life-st0 {
  fill:none;
  stroke:$color-white;
  stroke-miterlimit:10;
}

.life-st1 {
  fill:none;
}

.life-st2 {
  fill:none;
  stroke:$color-white;
  stroke-linecap:round;
  stroke-linejoin:round;
}

.life-st3 {
  stroke:$color-white;
  stroke-miterlimit:10;
}

.life-st4 {
  stroke:$color-white;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

.life-st5 {
  stroke:$color-white;
  stroke-width:0.9071;
  stroke-miterlimit:10;
}

.life-st6 {
  stroke:$color-white;
  stroke-linecap:round;
  stroke-linejoin:round;
}
