<div class="start__instructions">
  <div class="start__instructions__header">
    <h1>{{ site.data.start.instructions.first }}</h1>
    <h2>{{ site.data.start.instructions.then }}</h2>
  </div>

  <div class="start_instructions__connect">
    <h3>Connecting your device</h3>
    <p>
      {{ site.data.start.mac.connecting }}
    </p>

    <h3>Using your device</h3>
    <p>
      {{ site.data.start.mac.using }}
    </p>
  </div>

  <div class="start_instructions__toubleshooting">
    <h3>Connectivity Issues</h3>
    <p>
      {{ site.data.start.mac.connectivity }}
    </p>

    <h3>Battery</h3>
    <p>
      {{ site.data.start.mac.battery }}
    </p>
  </div>

</div>
