[data-animation="distractions"] {
  .distractions {
    z-index: 500;
  }
}
[data-animation="sessions"] {
  .sessions {
    z-index: 500;
  }
}
[data-animation="categorizing"] {
  .categorizing {
    z-index: 500;
  }
}
[data-animation="challenges"] {
  .challenges {
    z-index: 500;
  }
}
[data-animation="breaks"] {
  .breaks {
    z-index: 500;
  }
}
[data-animation="life"] {
  .life {
    z-index: 500;
  }
}
[data-animation="download"] {
  .download {
    z-index: 500;
  }
}
