.download {
  @extend .section;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50vh;
}

.download-illustration {
  text-align: center;
  position: relative;
  z-index: 500;
}

.download-buttons {
  margin-bottom: 60px;
  display: none;

  @include media($tablet-screen-up) {
    display: block;
  }

  .btn {
    @include media($mobile-screens) {
      display: block;
    }
  }
}

.download-st2 {
  fill: #FFF;
  transition: $colorTransition;

}

.download-laptop {
  position: relative;
  width: 200px;
  margin: 0 auto;

  @include media($small-screen-up) {
    width: 300px;
  }
  @include media($medium-screen-up) {
    width: auto;
  }
}

.download-screenshot {
  display: inline-block;
  position: absolute;
  width: 158px;
  left: 50%;
  transform: translateX(-50%);
  top: 8px;
  border-radius: 4px;

  @include media($small-screen-up) {
    width: 238px;
    top: 10px;
  }

  @include media($medium-screen-up) {
    top: 20px;
    width: 360px;
  }
}

.download-form {
  display: block;
  margin-top: 20px;

  @include media($tablet-screen-up) {
    display: none;
  }
}

.download-form-intro {
  font-family: $fontFamily-heading;
  font-size: $fontSize--form * $mobileFontSize;
  font-weight: $fontWeight--form;
  line-height: 1.5;
  color: #FFF;
  margin-bottom: 15px;
  max-width: 300px;

  @include media($medium-screen-up) {
    font-size: $fontSize--form;
  }
}

.download-form-label {
  font-family: $fontFamily-heading;
  font-size: $fontSize--form * $mobileFontSize;
  font-weight: $fontWeight--form;
  line-height: 1.5;
  color: #FFF;
  margin-bottom: 5px;

  @include media($medium-screen-up) {
    font-size: $fontSize--form;
  }
}



[data-animation="download"] {
  .ui-options {
    display: none;
  }
  .ui-conversation {
    width: 100%;
  }
}
