.download-link {
  margin: 50px 0 60px 0;
}

.download-button {
  background-color: $color-white;
  border: 1px solid $color-white;
  border-radius: 4px;
  color: $color-blue;
  display: inline-block;
  font-family: $fontFamily--button;
  font-size: $fontSize--button * $mobileFontSize--header;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  transition: background-color $base-duration $base-timing;

  @include media($medium-screen-up) {
    font-size: $fontSize--button
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $color-blue;
    color: $color-white;

    .intro__tab__svg {
      fill: $color-white;
    }
  }
}

.download-button__text {
  display: inline-block;
  padding: 22px 0 22px 10px;
}

.download-button__caption {
  color: $color-white;
  font-family: $fontFamily--caption;
  font-size: $fontSize--caption * $mobileFontSize--header;
  font-weight: $fontWeight--caption;

  @include media($medium-screen-up) {
    font-size: $fontSize--caption
  }

}

.download-button--mac {
  @extend .download-button;
  max-width: 250px;
  width: 100%;
}

.download-button--windows {
  @extend .download-button;
  width: 100%;
  max-width: 310px;
}
