.start__intro {
  align-items: center;
  background-color: $color-bg;
  display: flex;
  flex-wrap: wrap;
  min-height: 750px;
  text-align: center;
  padding-bottom: 80px;

  @include media($medium-screen-up) {
    padding-bottom: 0;
    height: 100vh;
  }
}

.intro__text {
  font-family: $fontFamily--intro;
  font-size: $fontSize--intro * $mobileFontSize--header;
  color: $color-text;

  @include media($medium-screen-up) {
    font-size: $fontSize--intro;
  }
}

.intro__title {
  @extend .intro__text;
  font-weight: 600;
  margin-bottom: 58px;
}

.intro__byline {
  @extend .intro__text;
  font-weight: 300;
  margin-bottom: 60px;
}

.intro__figure {
  max-width: 300px;
  width: 100%;
  height: auto;
  margin: 0 auto 65px auto;
}

.intro__tab {
  border: 1px solid $color-blue;
  border-radius: 4px;
  color: $color-blue;
  cursor: pointer;
  display: block;
  font-family: $fontFamily--button;
  font-size: $fontSize--button * $mobileFontSize--header;
  font-weight: $fontWeight--button;
  margin: 5px auto 10px auto;
  text-align: center;
  transition: background-color $base-duration $base-timing;
  width: 165px;

  @include media($medium-screen-up) {
    display: inline-block;
    font-size: $fontSize--button
  }

  &.active,
  &:hover,
  &:active,
  &:focus {
    background-color: $color-blue;
    color: $color-white;

    .intro__tab__svg {
      fill: $color-white;
    }
  }
}

.intro__tab--mac {
  @extend .intro__tab;
  @include media($medium-screen-up) {
    margin-right: 20px;
  }
}


.intro__tab__icon {
  display: inline-block;
  height: auto;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}

.intro__tab__icon--mac {
  @extend .intro__tab__icon;
  width: 32px;
  height: 38px;
}

.intro__tab__icon--windows {
  @extend .intro__tab__icon;
  width: 38px;
}

.intro__tab__text {
  padding: 20px 0 20px 12px;
  display: inline-block;
}

.intro__tab__svg {
  fill: $color-blue;
}
