.line-dock {
  border-bottom: 1px solid #FFF;
  position: absolute;
  bottom: 60px;
  width: 100%;
  left: 0;
  opacity: 0;
  transition: $baseTransition;
}

.line-dock ul {
  @include outer-container(1000px);
  display: flex;
  justify-content: center;
  margin-bottom: -20px;
}

.line-dock-app {
  background-color: $color-blue;
  border: 1px solid #FFF;
  border-radius: 8px;
  width: 60px;
  height: 60px;
  position: relative;
  transition: $colorTransition;
  margin: 0 10px;

  @include media($medium-screen-up)  {
    width: 70px;
    height: 70px;
    margin: 0 20px;
  }

  @include media($full-screen-up)  {
    width: 80px;
    height: 80px;
  }


  &:nth-of-type(n+5) {
    display: none;
    @include media($medium-screen-up) {
      display: block;
    }
  }
}

.line-dock-badge {
  background-color: $color-red;
  border: 1px solid #FFF;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 13px;
  font-family: $fontFamily-heading;
  position: absolute;
  top: -15px;
  right: -15px;
  opacity: 0;
}
